/* Colors */
$color-main: #6d6d6d;

$color-gradient-first: #55c57a;
$color-gradient-second: #7ed56f;

$color-gradient2-first: #74ebd5;
$color-gradient2-second: #9face6;

$color-gradient3-first: #FC354C;
$color-gradient3-second: #0ABFBC;

$color-gradient4-first: #0F2027;
$color-gradient4-second: #2C5364;

$footer-background: #383838;
$footer-background-dark: #252525;