.section-about {
    background-color: #f7f7f7;
    margin-top: -20vh;
    padding: 35vh 0;

    @include respond(tab-land) {
        padding: 31vh 0;
    }
    @include respond(tab-port) {
        padding: 28vh 0 18vh 0;
    }
    @include respond(phone) {
        padding: 25vh 0 15vh 0;
    }
    
    &__header {
        text-align: center;
    }

    &__paragraph {
        font-size: 1.6rem;
    }
}

.section-features {
    margin-top: -6.5rem;
    padding: 35vh 0;
    background-image: linear-gradient(to bottom right, rgba($color-gradient-first,0.8), 
    rgba($color-gradient-second,0.8)), url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-6deg);

    &>* {transform: skewY(6deg)}

    @include respond(tab-land) {
        padding: 28vh 0;
    }

    @include respond(tab-port) {
        padding: 22vh 0;
    }

    @include respond(phone) {
        padding: 15vh 0;
    }
}

.section-tours {
    background-color: #f7f7f7;
    margin-top: -6.5rem;
    padding: 30vh 0;
    text-align: center;

    @include respond(tab-port) {
        padding: 15vh 0;
    }

    @include respond(phone) {
        padding: 10vh 0;
    }
}

.section-stories {
    position: relative;
    padding: 14rem 0;
    text-align: center;
    overflow: hidden;   

    @include respond(phone) {
        padding: 10vh 0;
    }
}

.section-booking {
    padding: 14rem 0;
    background-image: linear-gradient(to bottom right, $color-gradient-first, $color-gradient-second);

    @include respond(tab-port) {
        padding: 10rem 5rem;
    }
    @include respond(phone) {
        padding: 8rem 2rem;
    }
    .book {
        width: 100%;
        height: 54rem;
        
        background-color: #fff;
        background-image: linear-gradient(105deg, rgba(#fff, 0.9) 0%, rgba(#fff, 0.9) 50%, transparent 50%)
                        ,url(../img/nat-10.jpg);
        background-size: 100%;
        box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);
        border-radius: 3px;

        @include respond(tab-port) {
            background-image: linear-gradient(rgba(#fff, 0.9), rgba(#fff, 0.9))
                    ,url(../img/nat-10.jpg);
                    height: 55rem;
        }

        &__form-side {
            width: 40%;
            padding: 5.7rem 6rem;
            float: left;
            text-align: left;

            @include respond(tab-port) {
                width: 70%;
                padding: 5.7rem 5rem;
                padding-left: 8rem;
            }

            @include respond(phone) {
                width: 70%;
                padding: 5.7rem 5rem;
            
            }
        }
    }
}