*,
*::after,
*::before {
  margin: 0;
  padding: 0; 
}

html {
  font-size: 62.5%;
  
  @include respond(big-desktop){
    font-size: 75%;
  }

  @include respond(tab-land){
    font-size: 55%;
  }

  @include respond(tab-port){
    font-size: 45%;
  }

  @include respond(phone){
    font-size: 40%;
  }
}

body {
  box-sizing: border-box; 
}