.photos {
    background-image: linear-gradient(rgba(rgb(141, 98, 19), .6), rgba(rgb(141, 98, 19), .6)), url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    
    grid-column: full-start/col-end 4;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    align-content: center;

    @media only screen and (max-width: $large) {
        grid-column: 1/-1;
    }

    .photo__1 {
        grid-column: 3/11;
        grid-row: 3/10;
        width: 100%;

        @media only screen and (max-width: $large) {
            grid-column: 2/9;
            grid-row: 2/12;
        }
    }

    .photo__2 {
        grid-column: 7/-1;
        grid-row: 6/-1;
        width: 100%;
        transform: scale(1.2);

        @media only screen and (max-width: $largest) {
            transform: scale(1);
            grid-column: 7/12;
            grid-row: 4/10;
        }
    }
}