.header {
    &--tertiary {
        text-transform: uppercase;
        color: $color-primary;
        font-family: $font-display;
        font-weight: 400;
        font-size: 1.5rem;
    }

    &--tertiary-light {
        font-family: $font-display;
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.button {
    color: $color-grey-light-1;
    background-color: $color-primary;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 1.5rem 2.8rem;
    transition: background-color .3s;
    
    &:hover {
        background-color: $color-primary-dark;
    }
}