.btn {

  &,
  &:link,
  &:visited {
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 10rem;
    text-transform: uppercase;
    color: $color-main;
    padding: 1.2rem 3.5rem;
    border: none;

    /*&::after {
      animation-name: becomeSmaller;
      animation-duration: .6s;
      animation-timing-function: ease;
      animation-fill-mode: backwards;
    }*/
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:hover::after {
    animation-name: becomeLarger;
    animation-duration: .6s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;

  }

  &-card:link,
  &-card:visited {
    padding: 1.5rem 2rem;
  }

  &--white {
    background-color: #fff;

    &::after {
      background-color: #fff;
    }
  }

  &--green {
    background-color: $color-gradient-second;
    color: #fff !important;

    &::after {
      background-color: $color-gradient-second;
    }
  }
}