.feature-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 28rem;
    width: 22rem;
    background-color: #0f2027;
    padding: 1.5rem 2.5rem;
    border-radius: .4rem;
    transition: transform 0.3s;
    box-shadow: 0 0 1rem rgba(#000, .3);

    h3 {
        color: white;

        sup {
            text-transform: none;
        }
    }

    &__icon {
        height: 5rem;
        filter: invert(100%) sepia(9%) saturate(440%) hue-rotate(315deg) brightness(119%) contrast(100%);
        ;
    }

    &:hover {
        transform: translateY(-1.2rem) scale(1.01);
    }
}