*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 53.125%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 46.875%; } }

body {
  font-family: "Nunito", sans-serif; }

.container {
  display: grid;
  grid-template-columns: [sidebar-start] 5.5rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  grid-template-rows: 80vh repeat(5, max-content); }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, max-content) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
      grid-template-rows: 4rem 80vh repeat(5, min-content); } }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 4rem 80vh min-content repeat(6, min-content); } }

.details {
  grid-column: center-start/center-end;
  padding: 8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  justify-content: center;
  grid-column-gap: 4rem;
  grid-row-gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .details {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
      grid-row-gap: 4rem; } }
  @media only screen and (max-width: 25em) {
    .details {
      padding: 5rem 0; } }
  .details .card {
    display: grid;
    grid-row-gap: 4rem;
    justify-items: center;
    justify-self: center;
    width: 28rem;
    background-color: #f9f7f6;
    box-shadow: 1px 1px 5px gray;
    transition: all .3s; }
    .details .card__picture {
      width: 100%;
      grid-row: 1/2;
      grid-column: 1/2; }
    .details .card__title {
      grid-row: 1/2;
      grid-column: 1/-1;
      align-self: end;
      transform: translateY(50%);
      text-align: center;
      width: 80%;
      color: #f9f7f6;
      font-family: "Josefin Sans", sans-serif;
      background-color: #101d2c;
      padding: 1.2rem 1.8rem;
      font-size: 1.5rem; }
    .details .card__infos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      padding-top: 1.2rem;
      grid-column-gap: 3rem;
      grid-row-gap: 2.5rem;
      color: #54483A;
      font-size: 1.2rem; }
      .details .card__infos > span {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: .7rem;
        align-items: center; }
    .details .card button {
      width: 100%; }
    .details .card:hover {
      transform: translateY(-0.3rem);
      box-shadow: 1px 1px 15px gray; }
  .details svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: #c69963; }

.features {
  grid-column: center-start/center-end;
  padding: 7rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 8rem;
  grid-row-gap: 6rem; }
  .features .feature {
    color: #6D5D4B; }
    .features .feature__title {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 500; }
    .features .feature__text {
      font-size: 1.4rem;
      line-height: 2.7rem; }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 6rem 5rem; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      padding: 4.5rem 4rem; } }
  .footer ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    justify-items: center;
    justify-content: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer ul {
        grid-column-gap: 1.2rem; } }
    @media only screen and (max-width: 25em) {
      .footer ul {
        grid-template-columns: 1fr; } }
  .footer li {
    text-align: center;
    display: block;
    transition: all .3s; }
    .footer li:hover {
      transform: translateY(-0.2rem); }
  .footer a {
    text-decoration: none;
    color: #f9f7f6;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer a {
        font-size: 1.1rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer a {
        font-size: .95rem; } }
  .footer p {
    color: #aaa;
    font-size: 1.2rem;
    width: 60%;
    margin: 4rem auto 0 auto;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .footer p {
        width: 75%; } }
    @media only screen and (max-width: 31.25em) {
      .footer p {
        margin: 3rem auto 0 auto; } }
    @media only screen and (max-width: 25em) {
      .footer p {
        width: 90%; } }

.gallery {
  grid-column: full-start/full-end;
  background-color: #f9f7f6;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 1fr));
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-gap: .6rem; } }
  .gallery .gallery__1 {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__2 {
    grid-column: 3/6;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__3 {
    grid-column: 6/7;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__4 {
    grid-column: 7/9;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__5 {
    grid-column: 1/3;
    grid-row: 3/6;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__6 {
    grid-column: 3/5;
    grid-row: 4/6;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__7 {
    grid-column: 5/6;
    grid-row: 4/5;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__8 {
    grid-column: 6/8;
    grid-row: 3/5;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__9 {
    grid-column: 8/9;
    grid-row: 3/6;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__10 {
    grid-column: 1/2;
    grid-row: 6/8;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__11 {
    grid-column: 2/4;
    grid-row: 6/8;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__12 {
    grid-column: 4/5;
    grid-row: 6/8;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__13 {
    grid-column: 5/8;
    grid-row: 5/8;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .gallery .gallery__14 {
    grid-column: 8/9;
    grid-row: 6/8;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding: 6rem;
  grid-column: full-start/col-end 6;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr repeat(2, min-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-gap: 2rem;
  align-items: start;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 6rem 8rem;
      grid-gap: 1.5rem; } }
  @media only screen and (max-width: 25em) {
    .header {
      padding: 6rem 5rem; } }
  .header__logo {
    height: 3.5rem;
    width: auto;
    justify-self: center; }
  .header__title {
    color: #f9f7f6;
    font-size: 4.3rem;
    font-family: "Josefin Sans", sans-serif !important;
    font-weight: 400; }
  .header__seenon {
    color: #aaa;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-gap: .75rem; }
    .header__seenon::before, .header__seenon::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #aaa; }
  .header__seenon-logos {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center; }
    .header__seenon-logos * {
      max-height: 2rem;
      max-width: 100%;
      filter: brightness(70%); }
  .header .button--header {
    justify-self: start; }

.photos {
  background-image: linear-gradient(rgba(141, 98, 19, 0.6), rgba(141, 98, 19, 0.6)), url(../img/back.jpg);
  background-position: center;
  background-size: cover;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-items: center;
  align-content: center; }
  @media only screen and (max-width: 56.25em) {
    .photos {
      grid-column: 1/-1; } }
  .photos .photo__1 {
    grid-column: 3/11;
    grid-row: 3/10;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .photos .photo__1 {
        grid-column: 2/9;
        grid-row: 2/12; } }
  .photos .photo__2 {
    grid-column: 7/-1;
    grid-row: 6/-1;
    width: 100%;
    transform: scale(1.2); }
    @media only screen and (max-width: 62.5em) {
      .photos .photo__2 {
        transform: scale(1);
        grid-column: 7/12;
        grid-row: 4/10; } }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 10rem 3rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: center;
  grid-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .realtors {
      grid-row: 3/4;
      grid-column: 1/-1;
      padding: 3.5rem 2rem; } }
  .realtors .profile-container {
    width: 90%;
    margin-top: .3rem;
    display: grid;
    grid-gap: 0rem;
    justify-items: start;
    justify-content: center;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .realtors .profile-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-self: center;
        justify-items: center; } }
  .realtors > h3 {
    text-align: center; }
  .realtors .profile {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1.5rem;
    align-items: center; }
    .realtors .profile__picture {
      height: 6rem;
      border-radius: 50%; }
    .realtors .profile__house-number {
      font-family: initial;
      text-transform: uppercase;
      margin-top: .5rem;
      color: #aaa;
      font-size: .9rem;
      font-weight: 300; }

.testimonial {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 10rem;
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-gap: 2.5rem;
  align-content: center; }
  @media only screen and (max-width: 56.25em) {
    .testimonial {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 31.25em) {
    .testimonial {
      padding: 6rem; } }
  .testimonial__header {
    color: #54483A;
    font-size: 4.5rem;
    font-weight: 300;
    font-style: italic;
    line-height: 5rem; }
  .testimonial__text {
    color: #54483A;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-bottom: 1rem; }
  .testimonial button {
    justify-self: start; }

.header--tertiary {
  text-transform: uppercase;
  color: #c69963;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.header--tertiary-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.button {
  color: #f9f7f6;
  background-color: #c69963;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1.5rem 2.8rem;
  transition: background-color .3s; }
  .button:hover {
    background-color: #B28451; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/8;
  padding-top: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-row: 1/2;
      grid-column: 1/-1;
      z-index: 20;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; } }
  .sidebar > div {
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 62.5em) {
      .sidebar > div {
        padding-top: 0;
        margin-right: 3rem; } }
    .sidebar > div:hover .side::before {
      transform: translateY(-0.2rem); }
    .sidebar > div:hover .side::after {
      transform: translateY(0.2rem); }
  .sidebar .side {
    width: 3rem;
    height: .2rem;
    background-color: #f9f7f6;
    position: relative; }
    .sidebar .side::before {
      content: '';
      position: absolute;
      display: block;
      width: 3rem;
      height: .2rem;
      bottom: .7rem;
      background-color: #f9f7f6;
      transition: all .3s; }
    .sidebar .side::after {
      content: '';
      display: block;
      position: absolute;
      width: 3rem;
      height: .2rem;
      top: .7rem;
      background-color: #f9f7f6;
      transition: all .3s; }
